h1	a	{
  color:	#FCA205;
  font-family:	'Lobster';
}
#posts
{
  padding-left: 40px;
}
#header{
  background-color:	#ff9400;
  padding:	20px	20px	20px	40px;
  color:white;
}
#header h1 a{
  color:white;
}
#header :focus{
  color: black;
  background-color: blue;
}
.container{
  margin-left: 285px;

}
