h1	a	{
  color:	#FCA205;
  font-family:	'Lobster';
}
h1{
  font-family:	'Lobster';
}
#posts
{
  /*padding-left: 40px;*/
}
#header{
  background-color:	#ff9400;
  padding:	20px	20px	20px	40px;
  color:white;
}
#header h1 a{
  color:white;
}
#header :hover{
  color: black;
  /*background-color: blue;*/
  text-decoration: none;
}
.container{
  /*margin-left: 285px;*/
}
.save	{
				float:	right;
}
.post-form	textarea,	.post-form	input	{
				width:	100%;
}
